<div class="text-container">
  <mat-form-field appearance="outline">
    <mat-label>Text 1</mat-label>
    <textarea matInput [(ngModel)]="text1"></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Text 2</mat-label>
    <textarea matInput [(ngModel)]="text2"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="compareTexts()">Compare</button>

  <div class="result">
    <div *ngFor="let word of differences">
      <span class="highlight">{{ word }}</span>
    </div>
  </div>
</div>
